.input-wrapper{
  margin: 10px;
  }
  .input-field{
    width: 400px;
    height: 40px;
  }
  
  .antd-button{
    margin: 10px;
    width: 150px;
    height: 40px;
  }
  .button{
    width: 200px;
    height: 30px;
  }
  .container{
    text-align: center;
  }
  .button-link{
    border: 0;
    cursor: pointer;
    background-color: transparent;
    color: rgb(36, 83, 237);
    margin: 20px;
  }

.add-food-item-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 70vh; /* Adjust height as needed */
  }

  .input-error{
    position: absolute;
    padding: 8px;
    color: red;
    font-size: 13px;
}