/*header css */
.header-wrapper {
  display: flex;
  justify-content: space-between;
}
.header-wrapper ul {
  display: flex;
}

.header-wrapper ul li {
  list-style-type: none;
  padding: 5px;
}
.header-wrapper ul li a {
  text-decoration: none;
}

.header-wrapper ul li button {
  border: none;
  background-color: transparent;
  cursor: pointer;
  color: blueviolet;
  font-size: 16px;
}

.footer-wrapper {
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
  font-size: 10px;
  background-color: #fff;
}

.input-wrapper {
  margin: 10px;
}
.input-field {
  width: 400px;
  height: 40px;
}

.antd-button {
  margin: 10px;
  width: 150px;
  height: 40px;
}
.button {
  width: 200px;
  height: 30px;
}
.container {
  text-align: center;
}
.button-link {
  border: 0;
  cursor: pointer;
  background-color: transparent;
  color: rgb(36, 83, 237);
  margin: 20px;
}

.add-food-item-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 70vh; /* Adjust height as needed */
}

.input-error {
  position: absolute;
  padding: 8px;
  color: red;
  font-size: 13px;
}

.main-page-banner,
.restaurant-page-banner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url("https://a.storyblok.com/f/88809/1150x450/30a9c4f9a6/igevia_header_fastfood01_450.jpg");
  height: 230px;
  text-align: center;
  padding: 30px;
  margin-top: 20px;
  background-color: rgba(0, 0, 0, 0.7);
  background-blend-mode: multiply;
  color: #fff;
}

.main-page-banner .input-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: #fff;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 60%;
  margin: auto;
}

.main-page-banner .select-input {
  height: 40px;
  border: none;
  padding-left: 15px;
  margin-right: 25px;
  width: 35%;
  cursor: pointer;
  background-color: #fff;
  border: 1px solid #d9d9d9;
  border-radius: 4px;
  padding: 4px 11px;
  transition: all 0.3s;

  &:hover,
  &:focus {
    border-color: #40a9ff;
    box-shadow: 0 0 0 2px rgba(24, 144, 255, 0.2);
  }
}

.ant-dropdown-menu {
  max-height: 200px;
  overflow-y: auto;
}

.main-page-banner .search-input {
  height: 40px;
  border: none;
  padding-left: 15px;
  border-left: 1px solid #ccc;
  width: 55%;
  cursor: pointer;
  background-color: #fff;
  border: 1px solid #d9d9d9;
  border-radius: 4px;
  padding: 4px 11px;
  transition: all 0.3s;

  &:hover,
  &:focus {
    border-color: #40a9ff;
    box-shadow: 0 0 0 2px rgba(24, 144, 255, 0.2);
  }
}

/* Media queries for select and search input on home page */
@media (max-width: 768px) {
  .main-page-banner .input-wrapper {
    flex-direction: column;
    align-items: stretch;
  }

  .main-page-banner .select-input,
  .main-page-banner .search-input {
    width: 100%;
    margin-right: 0;
    margin-bottom: 10px;
  }
}

.location-list {
  color: #000;
  list-style-type: none;
  text-align: left;
  position: absolute;
  background-color: #fff;
  padding: 0;
  margin: 0;
  margin-left: -5px;
  border: 1px solid #ccc;
}
.location-list li {
  width: 180px;
  padding: 5px;
  border-bottom: 1px solid #ccc;
  cursor: pointer;
}
.restaurant-list-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 40px;
  margin-bottom: 50px;
}
.restaurant-wrapper {
  width: 47%;
  background-color: orange;
  margin: 10px;
  padding: 10px;
  border: 1px solid #aaa;
  border-radius: 5px;
  cursor: pointer;
}
.restaurant-wrapper .heading-wrapper {
  padding-left: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.restaurant-wrapper .address-wrapper {
  padding-left: 15px;
  display: flex;
  justify-content: flex-start;
}
.restaurant-wrapper h5 {
  margin-left: 15px;
}
.restaurant-wrapper .address {
  margin-left: 5px;
}
.restaurant-page-banner h1 {
  font-size: 65px;
}
.details-wrapper {
  display: flex;
  background-color: orange;
}
.details-wrapper h4 {
  width: 50%;
}

.food-list-wrapper {
  margin-bottom: 50px;
  margin-top: 50px;
}

.food-list-wrapper .list-item {
  color: orange;
  font-weight: bold;
  border-bottom: 1px solid;
  padding: 20px;
  display: flex;
  text-transform: capitalize;
}
.food-list-wrapper .list-item .description {
  font-weight: lighter;
}
.food-list-wrapper .list-item button {
  color: #fff;
  background-color: orange;
  border: 0;
  padding: 10px;
  cursor: pointer;
  margin-top: 5px;
  border-radius: 5px;
}
.food-list-wrapper .list-item img {
  width: 100px;
  padding-right: 20px;
}

.list-item-block-1 {
  width: 20%;
}
.list-item-block-2 {
  width: 60%;
}
.list-item-block-3 {
  width: 20%;
}

.total-wrapper {
  display: flex;
  flex-wrap: wrap;
  border-bottom: 1px solid orange;
  padding-bottom: 20px;
}
.total-wrapper .row {
  display: flex;
  justify-content: space-between;
  margin-left: 20%;
  margin-right: 20%;
  color: orange;
  font-size: 20px;
  font-weight: bold;
}
.total-wrapper .block-1 {
  width: 70%;
}
.total-wrapper .block-2 {
  width: 30%;
}
.total-wrapper .block-2 button {
  padding: 10px 25px;
  border: navajowhite;
  background-color: orange;
  color: #fff;
  border-radius: 4px;
  cursor: pointer;
}

/* Media queries for responsive design */
@media (max-width: 1024px) {
  .restaurant-wrapper {
    width: 45%;
  }
}
/* For tablets and smaller screens */
@media (max-width: 768px) {
  .header-wrapper {
    flex-direction: column;
    align-items: center;
  }

  .header-wrapper ul {
    margin-top: 10px;
  }

  .header-wrapper ul li {
    padding: 3px;
  }

  .main-page-banner {
    height: auto;
    padding: 20px;
  }

  .main-page-banner .input-wrapper {
    width: 90%;
  }

  .main-page-banner .select-input,
  .main-page-banner .search-input {
    width: 100%;
    margin-right: 0;
    margin-bottom: 10px;
  }

  .restaurant-list-container {
    flex-direction: column;
  }

  .restaurant-wrapper {
    width: 95%;
  }

  .food-list-wrapper .list-item {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .list-item-block-1,
  .list-item-block-2,
  .list-item-block-3 {
    width: 100%;
  }

  .list-item-block-2 {
    margin: 10px 0;
  }

  .total-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .total-wrapper .row {
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
    gap: 10px;
    width: 100%;
    max-width: 400px;
  }

  .total-wrapper .block-2 {
    display: flex;
    justify-content: center;
    margin: 20px;
  }

  .total-wrapper .row span:first-child {
    text-align: left;
  }

  .total-wrapper .row span:last-child {
    justify-self: end;
  }
}

/* For mobile screens */
@media (max-width: 425px) {
  .restaurant-page-banner {
    margin-right: 20px; /* Add this line to reduce the gap on the right */
  }

  .food-list-wrapper .list-item {
    margin-right: 20px; /* Add this line to reduce the gap on the right */
  }

  .total-wrapper .row {
    margin-left: 10%;
    margin-right: 10%; /* Adjust the margin-right to reduce the gap */
  }
}

@media (max-width: 375px) {
  .restaurant-page-banner {
    margin-right: 15px; /* Adjust the margin-right to reduce the gap */
  }

  .food-list-wrapper .list-item {
    margin-right: 15px; /* Adjust the margin-right to reduce the gap */
  }

  .total-wrapper .row {
    margin-left: 5%;
    margin-right: 5%; /* Adjust the margin-right to reduce the gap */
  }
}

@media (max-width: 320px) {
  .header-wrapper ul li {
    padding: 2px;
  }

  .header-wrapper ul li button {
    font-size: 14px;
  }

  .input-field {
    width: 280px;
  }

  .antd-button {
    width: 120px;
    height: 35px;
  }

  .button {
    width: 180px;
    height: 25px;
  }

  .main-page-banner {
    padding: 15px;
    width: 220%;
  }

  .main-page-banner .input-wrapper {
    width: 95%;
  }

  .main-page-banner .select-input,
  .main-page-banner .search-input {
    font-size: 14px;
  }

  .restaurant-wrapper {
    margin: 5px 0;
    width: 220%;
  }

  .restaurant-wrapper .heading-wrapper {
    flex-direction: column;
    align-items: flex-start;
  }

  .restaurant-wrapper h5 {
    margin-left: 0;
  }

  .food-list-wrapper .list-item img {
    width: 80px;
    padding-right: 10px;
  }

  .restaurant-page-banner {
    margin-right: 10px;
    width: 210%;
  }

  .food-list-wrapper .list-item {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 220%;
  }
  .total-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 230%;
  }
  .total-wrapper .row {
    font-size: 16px;
    margin-left: 2%;
    margin-right: 2%;
  }

  .details-wrapper {
    display: flex;
    background-color: orange;
    width: 230%;
    margin-top: 7px;
    flex-wrap: wrap;
  }
}
